# IntelliJ Config
.idea

# Maven
target/
.mvn
.mvn-classpath
pom.xml.bak

# node, vite
node_modules/
client/*.js
target/
build/
dist/
.env
test-results/
playwright-report/
playwright/.cache/

# mac
.DS_Store