.App {
  text-align: center;
  background-color: aquamarine;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

h1,
h3 {
  font-weight: 600;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}


.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  color:darkslategrey
}

.campus-selector-button {
  text-align: center;
  color: black;
  text-emphasis-color: blue;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

.button-clicked {
  background-color: green; /* Change to whatever color you prefer */
}
.myselector {
  /* border-color: green;  */
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}
.selector-selected {
  background-color: green;
}

.search-choices {
  text-align: center;
}
.placebox {
  background-color:rgba(236, 241, 236, 0.722);
  width: fit-content;
  max-width: 400px;
  height: 600px;
  align-self: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-style:double;
  border-width: 15px;
}

.placebox img {
  width: 100%;
  max-width: 350px;
}

.carousel-container {
  width: 400px;
  max-width: 400px;
  overflow: hidden;
  height: 400px;
}

.lounges-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-flow: dense row;
  justify-content: space-around;
}

.lounge {
  flex: 1; /* Adjust flex properties as needed */
  margin: 20px;
}

.starbutton {
  background-color: transparent;
  border-color: transparent;
}

.attributes {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.attributes-container {
  max-width: 100%;
}

.reviewprompt {
font-size: 15px;
background-color: aquamarine;
}

