.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.northcampusbutton {
  text-align: center;
  color: black;
  text-emphasis-color: blue;
  border-radius: 20px;
}
.southcampusbutton {
  text-align: center;
  color: black;
  text-emphasis-color: blue;
  border-radius: 20px;
}
.button-clicked {
  background-color: green; /* Change to whatever color you prefer */
}
.myselector {
  /* border-color: green;  */
  border-radius: 20px;
}
.selector-selected {
  background-color: green;
}

.search-choices {
  text-align: center;
}
.placebox {
  background-color:skyblue;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-self: center;
  align-items: center;
  border-radius: 20px;
}
.carousel-container {
  width: 400px;
  max-width: 400px;
  overflow: hidden;
  height: 400px;
}

.lounges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lounge {
  flex: 1; /* Adjust flex properties as needed */
  margin: 20px;
}

.starbutton {
  background-color: transparent;
  border-color: transparent;
}
