.App {
  text-align: center;
  background-color: aquamarine;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

h1,
h3 {
  font-weight: 600;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.brown-logo {
  block-size: 100px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.button,
.campus-selector-button,
.myselector,
.search-label,
.search-choices-selector,
.reviewprompt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

.button {
  color: black;
  border-radius: 8px;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 5px 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover,
.campus-selector-button:hover,
.search-choices-selector:hover {
  background-color: lightgreen;
}

.campus-selector-button {
  text-align: center;
  color: black;
  text-emphasis-color: blue;
  border-radius: 20px;
}

.button-clicked {
  background-color: green;
}

.myselector,
.selector-selected {
  background-color: green;
}

.search-choices {
  display: flex;
  height: 50px;
  margin: 2px 0px 2px 0px;
}

.search-label {
  color: black;
  border-radius: 8px;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 0px 4px 0px 4px;
  min-width: 150px;
}

.search-choices-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.search-choices-selector {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgba(236, 241, 236, 0.722);
  border-radius: 8px;
  border: 3px solid;
}

.search-choices-selector:focus {
  outline: none;
  border-color: lightgreen;
}

.placebox {
  background-color: rgba(236, 241, 236, 0.722);
  width: fit-content;
  max-width: 400px;
  height: 600px;
  align-self: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-style: double;
  border-width: 15px;
}

.placebox {
  width: 100%;
  max-width: 350px;
}

.placecard-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.carousel-container {
  width: 400px;
  max-width: 400px;
  overflow: hidden;
  height: 600px;
  max-height: 500px;
}

.lounges-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-flow: dense row;
  place-items: center;
}

.lounge {
  flex: 1; /* Adjust flex properties as needed */
  margin: 20px;
}

.starbutton {
  background-color: transparent;
  border-color: transparent;
}
.reviews {
  position: relative;
}

.reviews-scroll {
  max-height: 100px;
  /* overflow: auto; */
  margin-bottom: 20px;
}

.reviewinput {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  /* background-color: #fff; */
  padding-bottom: 10px;
  box-sizing: border-box;
}

.reviewInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  color: darkslategrey;

  border-radius: 8px;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-size: 0.95em;
  margin: 5px 5px;
  cursor: pointer;
}

.reviewslist {
  list-style-type: square;
  margin-left: 0;
  padding-left: 00px;
  padding-right: 30px;
  /* width: 80%; */
  background-color: aliceblue;
  border-top: 1px solid #282c34;
  max-height: 80px;
  overflow: scroll;
}
.listreviews {
  margin-left: 0;
  text-align: left;
  border-radius: 8px;
  border: 3px solid;
}

.showReviewsButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.attributes {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.attributes-container {
  max-width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.loading-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  background-color: rgba(236, 241, 236, 0.722);
  color: black;
  border-radius: 8px;
  border: 3px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 2px 2px 10px 2px;
  min-width: 150px;
}

.App {
  text-align: center;
  background-color: aquamarine;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

h1,
h3 {
  font-weight: 600;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  color: darkslategrey;
  background-color: white;
}

.search-choices {
  text-align: center;
}
.placebox {
  background-color: rgba(236, 241, 236, 0.722);
  width: fit-content;
  max-width: 400px;
  height: 600px;
  align-self: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-style: double;
  border-width: 15px;
}

.placebox img {
  width: 100%;
  max-width: 350px;
}

.carousel-container {
  width: 400px;
  max-width: 400px;
  overflow: scroll;
  height: 435px;
}

.lounges-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-flow: dense row;
  place-items: center;
}

.lounge {
  flex: 1; /* Adjust flex properties as needed */
  margin: 20px;
}

.starbutton {
  border-radius: 40px;
  background-color: transparent;
  border-color: transparent;
}
.starbutton:hover {
  background-color: rgb(228, 196, 202);
}

.attributes {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.attributes-container {
  max-width: 100%;
}

/* .reviewprompt {
  font-size: 15px;
  background-color: aquamarine;
} */

.loading-text {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  /* width: 100%; */
  width: 300px;
}
